@import 'tailwindcss';
@plugin "daisyui";

@theme {
  /* Colors */
  --color-primary: #1985f0;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  /* FontFamily */
  --font-display: 'Plus Jakarta Sans', sans-serif;

  /* BorderRadius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  html {
    scroll-behavior: smooth;
  }
  section {
    scroll-margin-top: 80px;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  .loading-bar-container {
    position: sticky;
    top: 0;
    z-index: 51;
  }
}
